#header img.main-logo {
    width: 60px;
}

#header > :nth-child(1), #header > :nth-child(3)  {
    width: 50px;
}
#header button.nav-link:focus {
    box-shadow: none;
}
#header button.nav-link:hover {
    filter: brightness(125%);
}