html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* SPECIFIC */

.text-platzi {
  color: #97c93e !important;
}

.text-platzi:hover {
  color: #82ad36 !important;
}

.btn.btn-platzi {
  background-color: #97c93e;
  color: white;
}

.btn.btn-platzi:hover {
  background-color: #82ad36;
}

.scrolldiv {
  position: relative;
}
